<div id="content">
  <div id="battle-playground">
    <div id="health-status">
      <div class="empty-health" id="status-pokemon1">
        <div class="health-pokemon" [style.width.%]="opponent?.health / opponent?.maxHealth * 100"></div>
        <span [ngStyle]="{'color': opponent?.color}">{{ opponent?.name }}</span>
      </div>
      <div class="empty-health" id="status-pokemon2">
        <div class="health-pokemon" [style.width.%]="secondOpponent?.health / secondOpponent?.maxHealth * 100"></div>
        <span [ngStyle]="{'color': secondOpponent?.color}">{{ secondOpponent?.name }}</span>
      </div>
    </div>
    <ng-template [ngIf]="battleFinished && winnerName">
      <div id="banner-result">
        <p>The winner is {{ winnerName || 'Pikachu' }} </p>
      </div>
    </ng-template>
    <img class="pokemon" id="pokemon1"
         [src]="opponent?.health !== 0 ? opponent?.sprites?.back_default : '../../assets/poke.png'">
    <img class="pokemon" id="pokemon2"
         [src]="secondOpponent?.health !== 0 ? secondOpponent?.sprites?.front_default : '../../assets/poke.png'"
         alt="Bulbizar">
  </div>
  <ng-template [ngIf]="battleFinished">
    <button class="button" (click)="restartFight()">
      RESTART
    </button>
  </ng-template>
  <ng-template [ngIf]="!battleFinished">
    <button class="button" (click)="toggleFight()">
      {{ battleInProgress ? 'STOP' : 'FIGHT' }}
    </button>
  </ng-template>
  <div id="logs">
    <p class="dateStartBattle">{{ startBattleDate | date:'long' }}</p>
    <div *ngFor="let log of battleLogs" class="logs-history">
      <p>
        <span [appPkmnOpponentColor]="log.attackerName === opponent.name ? opponent.color : secondOpponent.color">{{ log.attackerName }}</span>
        attaque <span [appPkmnOpponentColor]="log.defenderName === opponent.name ? opponent.color : secondOpponent.color">{{ log.defenderName}}</span>
      </p>
      <p>
        <span [appPkmnOpponentColor]="log.attackerName === opponent.name ? opponent.color : secondOpponent.color">{{log.attackerName}}</span> inflige {{log.damage | number }}
        dégats <span [appPkmnOpponentColor]="log.defenderName === opponent.name ? opponent.color : secondOpponent.color">{{ log.defenderName}}</span>
      </p>
    </div>
  </div>
</div>
