#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#battle-playground {
  width: 700px;
  height: 400px;
  background: url("../../assets/background_battle.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}

#logs {
  width: 700px;
  height: 100px;
  background-color: green;
  overflow: scroll;
}

.pokemon {
  width: 100px;
}

#pokemon1 {
  left: 15%;
  top: 55%;
}
#pokemon2 {
  top: 20%;
  right: 27%;
}
#pokemon1, #pokemon2 {
  position: absolute;
}
