#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#battle-playground {
  width: 400px;
  height: 250px;
  background: url("../../assets/background_battle_1.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
  border: 10px solid #404040c4;
  border-radius: 15px;
}

#logs {
  width: 700px;
  height: 100px;
  background-color: white;
  overflow: scroll;
  padding: 10px;
  font-family: "Courier New";
}

.logs-history {
  color: black;
  margin-top: 10px;
}
.logs-history p {
  margin: 0;
}
.pokemon {
  width: 100px;
}

#status-pokemon1 {
  color: blue;
}
#status-pokemon2 {
  color: green;
}
#banner-result {
  background-color: #00000085;
  color: white;
  height: 40px;
  position: relative;
  top: 60px;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
#pokemon1 {
  left: 15%;
  top: 55%;
}
#pokemon2 {
  top: 32%;
  right: 27%;
}
#pokemon1, #pokemon2 {
  position: absolute;
}

#health-status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #404040c4;
  height: 40px;
  padding: 10px;
}
.empty-health {
  width: 50%;
  height: 10px;
  background-color: black;
  margin: 5px;
}
