#pokemon-selectors-container {
  display: flex;
  height: 400px;
  flex-flow: wrap;
  padding: 20px;
}
.pokemon-selector {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.title {
  font-size: 4em;
  color: red;
}
.button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.cardSelected {
  width: 150px;
  height: 100%;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selectors {
  display: flex;
  justify-content: space-around;
}

.startBattle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.md-button {
	border: none;
	background-color: yellow;
	width: 20%;
  height: 40px;
  font-size: medium;
  text-align: center;
	border-width: 1px;;
  color: black;
  border-radius: 5px;
}