#pokemon-selectors-container {
  display: flex;
  height: '100%';
  flex-flow: wrap;
  margin-bottom: 30px;
}
.pokemon-selector {
  width: 75px;
  height: 75px;
  margin: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 4em;
  color: red;
}
.button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.cardSelected {
  width: 150px;
  height: 200px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
	background-color: yellow;
  font-size: medium;
  text-align: center;
  color: black;
  border-radius: 5px;
  margin-bottom: 100px;
  margin: 30px;
}
.startBattle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.md-button {
	border: none;
	background-color: yellow;
	width: 20%;
  height: 40px;
  font-size: medium;
  text-align: center;
	border-width: 1px;;
  color: black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}