.pokemon-overview, .header {
  height: 100%;
}

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.pokemon-overview {
  border: solid 2px yellow;
}
.pokemon-overview p {
  font-family: Arial;
}
.pokemon-overview:hover {
  cursor: pointer;
  background-color: pink;
}