#header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

#main-logo {
  width: 100%;
  height: 100%;
}
#pokemon-logo {
  height: 100%;
}

img {
  cursor: pointer;
}
img:focus  {
  outline: none;
}
