<h1>Création d'un Pokémon</h1>
<form (submit)="createPokemon()" novalidate>
    <label>Nom : </label>
    <input [(ngModel)]="creationService.createPokemon.name" type="text" [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>Speed : </label>
    <input [(ngModel)]="creationService.createPokemon.speed" type="text" [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>off stat : </label>
    <input [(ngModel)]="creationService.createPokemon.offStat" type="text" [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>HP : </label>
    <input class="input" [(ngModel)]="creationService.createPokemon.maxHealth" type="text"
        [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>base power : </label>
    <input [(ngModel)]="creationService.createPokemon.basePower" type="text"
        [ngModelOptions]="{standalone: true}" /><br>
    <br />

    <!-- <label>move name : </label>
		<input [(ngModel)]="creationService.createPokemon.attacks.name" type="text" [ngModelOptions]="{standalone: true}" /><br>
        <br/>
        <label>url image face - sprites : </label>
		<input [(ngModel)]="creationService.createPokemon.sprites?.front_default" type="text" [ngModelOptions]="{standalone: true}" /><br>
        <br/>
        <label>url image back - sprites : </label>
		<input [(ngModel)]="creationService.createPokemon.sprites?.back_default" type="text" [ngModelOptions]="{standalone: true}" /><br>
        <br/> -->

    <button class="md-button" type="submit">Créer</button>
</form>