<h1>Création d'un Pokémon</h1>
<form (submit)="createPokemon()" novalidate>
    <label>Nom : </label>
    <input [(ngModel)]="creationService.createPokemon.name" type="text" [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>Speed : </label>
    <input [(ngModel)]="creationService.createPokemon.speed" type="text" [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>off stat : </label>
    <input [(ngModel)]="creationService.createPokemon.offStat" type="text" [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>def stat : </label>
    <input [(ngModel)]="creationService.createPokemon.defStat" type="text" [ngModelOptions]="{standalone: true}" /><br>
    <br />
    <label>HP : </label>
    <input [(ngModel)]="creationService.createPokemon.maxHealth" type="text"
        [ngModelOptions]="{standalone: true}" /><br>
    <br />

    <button class="md-button" type="submit">Créer</button>
</form>
